<div class="row">
  <div class="large-12 medium-12 small-12 columns"> 
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Users</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 small-12 columns"> 
    <div class="large-12 medium-12 small-12 columns">
      <% if !current_user.nil? %>
        <%= link_to "Add new user", new_user_path %>

        <% @user.each do |u| %>
          <p><b><%= link_to u.name, u %></b></p>
        <% end %>
      <% else %>
        <p>You must be logged in as the administrator to access this feature.</p>

      <% end %>
      

    </div>
  </div>
</div>