<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Overview</h2>
    </div>
    
    <div id="intro">
      <p>The <b>Interaction Design Lab</b> explores social and technical issues in the design, implementation, and evaluation of information and 
        communication technologies. We conduct research in mobile computing, technologies for health and wellness, social networking, 
        affective computing, design theory, and related areas. Our work seeks to understand how technology can help enable more 
        healthy, socially connected, and reflective living.
      </p>
    </div>

  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 small-12 columns"> 
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Focus Areas</h2>
    </div>
  
    <ul class="gridblock_ul large-block-grid-4 medium-block-grid-4 small-block-grid-1">
      <li class="gridblock">
        <h3><b>Mediated Participation</b></h3>
        <h1><img alt="Mediated Participation" src="/assets/medpart_fa.png"></h1>
        <p>Creative ways of fostering engagement and ways of fostering creative engagement</p>
      </li>
      
      <li class="gridblock">
        <h3><b>Mobile Health</b></h3>
        <h1><img alt="Mobile Health" src="/assets/mobhealth_fa.png"></h1>
        <p>Better measuring physiological health characteristics and understanding the relationship between behavioral or psychological measures and actual health outcomes</p>
      </li>
      
      <li class="gridblock">
        <h3><b>Social Networks</b></h3>
        <h1><img alt="Social Networks" src="/assets/socialnet_fa.png"></h1>
        <p>Understanding how mobile phones can be used to employ social interactions and interventions   to encourage healthy behavior</p>
      </li>
      
      <li class="gridblock">
        <h3><b>Sustainable Design</b></h3>
        <h1><img alt="Sustainable Design" src="/assets/sustdes_fa.png"></h1>
        <p>Focusing on broad cultural understandings of sustainability and everyday practices</p>
      </li>
    </ul>
  </div>
</div>
