<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Director</h2>
    </div>

    <ul class="gridblock_ul medium-block-grid-3 large-block-grid-4 small-block-grid-1">
      <li class="gridblock">
        <h3>Geri Gay</h3>
        <h1>[IMAGE]</h1>
        <b>Faculty</b>
      </li>
    </ul>
    
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Postdoctoral Scholars</h2>
    </div>
    
    <ul class="gridblock_ul medium-block-grid-3 large-block-grid-4 small-block-grid-1">
      <li class="gridblock">
        <h3>Eric Baumer</h3>
        <h1>[IMAGE]</h1>
        <b>Research Associate</b><br/>
        Frame Reflections
      </li>
    </ul>
    
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Graduate Students</h2>
    </div>
    
    <ul class="gridblock_ul medium-block-grid-3 large-block-grid-4 small-block-grid-1">
      <li class="gridblock">
        <h3>Jean Costa</h3>
        <h1>[IMAGE]</h1>
        <b>2nd Year Ph.D Student</b><br/>
        MoodRhythm
        </li>
      <li class="gridblock">
        <h3>Jean Costa</h3>
        <h1>[IMAGE]</h1>
        <b>2nd Year Ph.D Student</b><br/>
        MoodRhythm
      </li>
      <li class="gridblock">
        <h3>Jean Costa</h3>
        <h1>[IMAGE]</h1>
        <b>2nd Year Ph.D Student</b><br/>
        MoodRhythm
      </li>
      <li class="gridblock">
        <h3>Jean Costa</h3>
        <h1>[IMAGE]</h1>
        <b>Ph.D Student, 2nd Year</b><br/>
        MoodRhythm
        </li>
    </ul>
    
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Undergraduate Students</h2>
    </div>
    
    <ul class="gridblock_ul medium-block-grid-3 large-block-grid-4 small-block-grid-1">
      <li class="gridblock">
      <h3>Jung-Ho Sohn</h3>
      <h1>[IMAGE]</h1>
      <b>Senior, Fine Arts & Information Science </b><br/>
      Frame Reflections
        </li>
      <li class="gridblock">
      <h3>Jung-Ho Sohn</h3>
      <h1>[IMAGE]</h1>
      <b>Senior, Fine Arts & Information Science </b><br/>
      Frame Reflections
        </li>
      <li class="gridblock">
      <h3>Jung-Ho Sohn</h3>
      <h1>[IMAGE]</h1>
      <b>Senior, Fine Arts & Information Science </b><br/>
      Frame Reflections
        </li>
      <li class="gridblock">
      <h3>Jung-Ho Sohn</h3>
      <h1>[IMAGE]</h1>
      <b>Senior, Fine Arts & Information Science </b><br/>
      Frame Reflections
        </li>
    </ul>
    
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Alumni</h2>
    </div>
    
    <ul class="gridblock_ul medium-block-grid-3 large-block-grid-4 small-block-grid-1">
      <li class="gridblock">
      <h3>J.P. Pollak</h3>
      <h1>[IMAGE]</h1>
      <b>Information Science </b><br/>
      Vera+
        </li>
      <li class="gridblock">
      <h3>J.P. Pollak</h3>
      <h1>[IMAGE]</h1>
      <b>Information Science </b><br/>
      Vera+
        </li>
    </ul>
    
  </div>
</div>