<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Current Projects</h2>
    </div>
    <ul class="gridblock_ul medium-block-grid-3 large-block-grid-4">
      <li class="gridblock">
      <h3>mood.cloud</h3>
      <h1>[IMAGE]</h1>
      Combining art and interaction design, we are showcasing the “mood” of 
campus light by collecting feelings of passersby in a public space.
        </li>
      
    </ul>
    
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Past Projects</h2>
    </div>
    
    <ul class="gridblock_ul medium-block-grid-3 large-block-grid-4">
      <li class="gridblock">
      <h3>Facebook Non-use</h3>
      <h1>[IMAGE]</h1>
      Studying why and how people do not
use Facebook.
        </li>
      
    <li class="gridblock">
      <h3>Facebook Non-use</h3>
      <h1>[IMAGE]</h1>
      Studying why and how people do not
use Facebook.
        </li>
      <li class="gridblock">
      <h3>Facebook Non-use</h3>
      <h1>[IMAGE]</h1>
      Studying why and how people do not
use Facebook.
        </li>
      <li class="gridblock">
      <h3>Facebook Non-use</h3>
      <h1>[IMAGE]</h1>
      Studying why and how people do not
use Facebook.
        </li>
    </ul>
    
  </div>
</div>