
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Contact</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 medium-12 small-12 columns"> 
      <div class="large-6 medium-6 small-12 columns">
      <form>
        <label>Name
        <input type="text" placeholder="Name" />
        </label>

        <label>Email Address </label>
        <input type="text" placeholder="person@example.com" />

        <label>Subject
        <input type="text" placeholder="e.g. Prospective Student" />
        </label>

        <label>Message
        <textarea placeholder="Message here"></textarea>
        </label>



        <a role="button" aria-label="submit form" href="#" class="button right">Submit</a>
      </form>
      </div>
      </div>
  </div>
</div>