<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="headerbar large-12 medium-12 small-12 columns">
      <h2>Publications</h2>
    </div>
    
    <div id="tabshift">
    <dl id="tabsrow" class="tabs" data-tab>
      <dd class="active"><a href="#panel2014">2014</a></dd>
      <dd><a href="#panel2013">2013</a></dd>
      <dd><a href="#panel2012">2012</a></dd>
      <dd><a href="#panel2011">2011</a></dd>
    </dl>
    </div>
    
    <div id="tabscontent" class="tabs-content">
      <div class="content active" id="panel2014">
      <p>Abdullah, S., Matthews, M., Murnane, E., Gay, G. & Choudhury, T. 2014. Circadian Computing: How “Early to Bed and Early to 
Rise” Makes Some of Us Unhealthy and Sleep Deprived. Ubicomp 2014.
      </p>
      </div>
      <div class="content" id="panel2013">
      <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
      </div>
      <div class="content" id="panel2012">
      <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
      </div>
      <div class="content" id="panel2011">
      <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
      </div>
    </div>
  </div>
</div>